.hero {
    width: 95%;
    max-width: 1080px;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;

    .heroTitle {
        font-weight: bold;
        margin-top: 2.5rem;
    }

    .heroText {
        font-weight: 400;
        font-size: 10px;
    
    }
}


